RewriteEngine On

RewriteRule ^portal/gms index.php?p=gms [L]

RewriteRule ^wwvergeten/(.+?)/?$ /index.php?p=ww_vergeten [L,QSA]
RewriteRule ^page/(.+?)/?$ index.php?p=custompage&page=$1 [L,QSA]
RewriteRule ^aanmelding/(.*)$ index.php?p=lidaanmelding&id=$1 [L]
RewriteRule ^lid/(.*)$ index.php?p=ledenbeheerlid&id=$1 [L]
RewriteRule ^agenda/bekijk/(.*)$ index.php?p=agenda-informatie&id=$1 [L]

RewriteRule ^mailbox/view/(.*)$ index.php?p=mailbox-view&id=$1 [L]
RewriteRule ^mailbox/bericht-maken index.php?p=mailbox-maak [L]
RewriteRule ^mailbox/delete/(.*)$ index.php?p=mailbox-delete&id=$1 [L]
RewriteRule ^mailbox/reply/(.*)$ index.php?p=mailbox-reply&id=$1 [L]
RewriteRule ^mailbox/belangrijk index.php?p=mailbox-belangrijk [L]
RewriteRule ^mailbox/verzonden index.php?p=mailbox-verzonden [L]
RewriteRule ^mailbox/prullenbak index.php?p=mailbox-prullenbak [L]
RewriteRule ^vacature-lezen/(.*)$ index.php?p=vacature-lezen&id=$1 [L]
RewriteRule ^editnews/(.*)$ index.php?p=editnews&id=$1 [L]

RewriteRule ^trainingen/bekijk/(.*)$ index.php?p=trainingen-bekijk&id=$1 [L]

RewriteRule ^contact/bestuur index.php?p=contact-bestuur [L]
RewriteRule ^contact/eenheid index.php?p=contact-eenheid [L]
RewriteRule ^contact/vakantie index.php?p=contact-vakantie [L]
RewriteRule ^contact/gegevens index.php?p=contact-gegevens [L]
RewriteRule ^contact/klachten index.php?p=contact-klachten [L]
RewriteRule ^contact/promotie index.php?p=contact-promotie [L]
RewriteRule ^contact/clanpack index.php?p=contact-clanpack [L]

RewriteRule ^instructeur/add-news index.php?p=instructeur-addnews [L]
RewriteRule ^instructeur/leden index.php?p=instructeur-leden [L]
RewriteRule ^instructeur/lid/(.*)$ index.php?p=instructeur-beheerlid&id=$1 [L]
RewriteRule ^instructeur/contact index.php?p=instructeur-contact [L]
RewriteRule ^instructeur/bekijk/contact/(.*)$ index.php?p=instructeur-contactbeheer&id=$1 [L]
RewriteRule ^instructeur/agenda index.php?p=instructeur-agenda [L]
RewriteRule ^instructeur/toevoegen/agenda index.php?p=instructeur-agenda-add [L]
RewriteRule ^instructeur/bekijk/agenda/(.*)$ index.php?p=instructeur-agendabeheer&id=$1 [L]
RewriteRule ^instructeur/send-mail index.php?p=instructeur-send-mail [L]
RewriteRule ^instructeur/training index.php?p=instructeur-training [L]
RewriteRule ^instructeur/toevoegen/training index.php?p=instructeur-training-add [L]
RewriteRule ^instructeur/bekijk/training/(.*)$ index.php?p=instructeur-trainingbeheer&id=$1 [L]
RewriteRule ^instructeur/cijfer index.php?p=instructeur-cijfer [L]
RewriteRule ^instructeur/toevoegen/cijfer index.php?p=instructeur-cijferadd [L]
RewriteRule ^instructeur/aanvraag-training index.php?p=instructeur-aanvraag-training [L]
RewriteRule ^instructeur/aanvraag-beheer/(.*)$ index.php?p=instructeur-aanvraag-trainingbeheer&id=$1 [L]

RewriteRule ^systeem/license index.php?p=systeem-license [L]
RewriteRule ^systeem/contact index.php?p=systeem-contact [L]
RewriteRule ^systeem/bekijk/contact/(.*)$ index.php?p=systeem-contactbeheer&id=$1 [L]

RewriteRule ^vertrouwenspersoon/leden index.php?p=vertrouwenspersoon-leden [L]
RewriteRule ^vertrouwenspersoon/lid/(.*)$ index.php?p=vertrouwenspersoon-beheerlid&id=$1 [L]
RewriteRule ^vertrouwenspersoon/problemen index.php?p=vertrouwenspersoon-problemen [L]
RewriteRule ^vertrouwenspersoon/aanpassen/probleem/(.*)$ index.php?p=vertrouwenspersoon-editprobleem&id=$1 [L]


RewriteRule ^leiding/add-news index.php?p=leiding-addnews [L]
RewriteRule ^leiding/leden index.php?p=leiding-leden [L]
RewriteRule ^leiding/lid/(.*)$ index.php?p=leiding-beheerlid&id=$1 [L]
RewriteRule ^leiding/toevoegen/lid index.php?p=leiding-addlid [L]
RewriteRule ^systeem/geef-rank index.php?p=systeem-rank [L]
RewriteRule ^leiding/agenda index.php?p=leiding-agenda [L]
RewriteRule ^leiding/toevoegen/agenda index.php?p=leiding-agenda-add [L]
RewriteRule ^leiding/bekijk/agenda/(.*)$ index.php?p=leiding-agendabeheer&id=$1 [L]
RewriteRule ^leiding/send-mail index.php?p=leiding-send-mail [L]
RewriteRule ^leiding/tijdlijn index.php?p=leiding-tijdlijn [L]
RewriteRule ^leiding/formulieren index.php?p=leiding-formulieren [L]
RewriteRule ^leiding/aanmeldingen index.php?p=leiding-aanmeldingen [L]
RewriteRule ^leiding/aanmelding/(.*)$ index.php?p=leiding-aanmeldinglid&id=$1 [L]
RewriteRule ^leiding/poorten index.php?p=leiding-poorten [L]
RewriteRule ^leiding/vacature index.php?p=leiding-vacature [L]
RewriteRule ^leiding/bekijk/vacature/(.*)$ index.php?p=leiding-bekijk-vacature&id=$1 [L]

RewriteRule ^leiding/form/vakantie/(.*)$ index.php?p=leiding-formvakantie&id=$1 [L]
RewriteRule ^leiding/form/clanpack/(.*)$ index.php?p=leiding-formclanpack&id=$1 [L]
RewriteRule ^leiding/form/contact/(.*)$ index.php?p=leiding-formcontact&id=$1 [L]
RewriteRule ^leiding/form/gegevens/(.*)$ index.php?p=leiding-formgegevens&id=$1 [L]
RewriteRule ^leiding/form/klachten/(.*)$ index.php?p=leiding-formklachten&id=$1 [L]
RewriteRule ^leiding/form/promotie/(.*)$ index.php?p=leiding-formpromotie&id=$1 [L]

RewriteRule ^profiel/(.*)$ index.php?p=profiel&id=$1 [L]
RewriteRule ^changepw index.php?p=password-change [L]

RewriteCond %{REQUEST_URI} !/(css|img|forms|gms|css/font-awesome|forms|scss|fonts|js|pages|includes|index\.php) [NC]
RewriteRule ^/?$ index.php?p=home [L,QSA]

RewriteCond %{REQUEST_URI} !/(css|img|forms|gms|css/font-awesome|forms|scss|fonts|js|pages|includes|index\.php) [NC]
RewriteRule ^(.+)$ index.php?p=$1 [L,QSA]
